* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colorNav: #278fe4;
}

.navbar {
  font-weight: bold;
  position: sticky;
  top: 0;
  background-color: skyblue;
  background-color: var(--colorNav);
  padding: 1rem;
  border-radius: 1.5rem;
}

.navbar ul {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  list-style: none;
}

.hijo {
  display: flex;
  gap: 1rem;
}


