* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  font-weight: bold;
  position: sticky;
  top: 0;
  background-color: skyblue;
  padding: 1rem;
}

.navbar ul {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  list-style: none;
}

.hijo {
  display: flex;
  gap: 1rem;
}
